#banner {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 4px 36px 8px #231f20;
}
.sect_heading {
  color: #ffc107;
  text-shadow: 5px 10px 10px #231f20;
}
.sect_text {
  color: aliceblue;
  text-align: start;
  margin: 0px;
  font-size: x-large;
  text-indent: 20px;
}
@media screen and (max-width: 768px) {
  .sect_text {
    font-size: small;
  }
}
strong {
  color: #ffc107;
}

/* .custom-btn {
  background-color: #000 !important;
  color: #ffc107 !important;
  border: 1px solid #ffc107 !important;
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #ffc107 !important;
  border-color: #111 !important;
  color: #000 !important;
} */

.slider-wrapper {
  padding: 0rem 0;
}

/* A bit of spacing for slide content */
.slide-card {
  padding: 0.5rem;
}

/* make slick arrows sit outside on large screens */
@media (min-width: 768px) {
  .slick-prev,
  .slick-next {
    width: 44px;
    height: 44px;
  }
}

/* optional: consistent image height (keeps layout stable) */
.slide-card img {
  object-fit: cover;
  width: 100%;
  height: 220px; /* change if you want taller/shorter slides */
  display: block;
}
.slide-card img {
  object-fit: cover;
  width: 100%;
  height: 380px; /* fixed height — keeps all cards uniform */
  display: block;
}
.slide-card h3 {
  color: #ffc107;
}
.slide-card hr {
  border: none;
  height: 3px;
  background-color: #ffc107;
}

