#banner {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 4px 36px 8px #231f20;
}
.sect_heading {
  color: #ffc107;
  text-shadow: 5px 10px 10px #231f20;
}
.sect_text {
  color: aliceblue;
  text-align: start;
  margin: 0px;
  font-size: x-large;
  text-indent: 20px;
}
@media screen and (max-width: 768px) {
  .sect_text {
    font-size: small;
  }
}
strong {
  color: #ffc107;
}
#profile-card {
  box-shadow: 2px 4px 36px 8px #231f20;
}
.styled-hr {
  border: none;
  height: 3px;
  background-color: #ffc107;
}

.swiper-slide {
  display: flex;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: aquamarine;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-text {
  flex-grow: 1;
}
