#banner {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 4px 36px 8px #231f20;
}
#location {
  background-color: aliceblue;
  box-shadow: 2px 4px 36px 8px #231f20;
  color: #231f20;
  text-shadow: 5px 10px 10px #231f20;
}
i {
  color: #ffc107;
}
#sect_heading {
  color: #ffc107;
  text-shadow: 5px 10px 20px #231f20;
}

#contact_form {
  background-color: aliceblue;
  box-shadow: 2px 4px 36px 8px #231f20;
  color: #231f20;
  text-shadow: 5px 10px 20px #231f20;
  border-radius: 5px;
}
