#side_banner {
  background-color: none;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
}
#sidebar {
  background-color: aliceblue;
  margin: 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 4px 36px 8px #ffc107;
}
#frosted-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.092); /* Semi-transparent */
  backdrop-filter: blur(10px); /* The blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 2s ease;
}
#frosted-overlay:hover {
  backdrop-filter: blur(0px); /* The blur effect */
  -webkit-backdrop-filter: blur(0px); /* For Safari support */
}

#services {
  font-size: 40px;
  text-shadow: 5px 10px 10px #231f20;
  color: #ffc107;
}
.services_card {
  box-shadow: 2px 4px 36px 8px #231f20;
}
.card-text {
  text-align: justify;
}
